:root {
  --sansandschi: sans-serif, "Schibsted Grotesk";
}

/* menu header start  */

.gallerypage-header {
  background-image: url("https://craftohtml.themezaa.com/images/demo-restaurant-about-title-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

.gallery-main {
  padding: 20px 50px;
}

.gallery-hedaer-img img {
  width: 159px;
}

.gallery-menu ul {
  padding: 0;
  list-style: none;
  margin-top: 20px;
}

.gallery-menu ul li {
  padding: 0 12px;
}

.gallery-menu ul li a {
  text-decoration: none;
  color: #383638;
  text-transform: uppercase;
  line-height: 20px;
  font-size: 20px;
  line-height: 20px;
  font-family: 'Arial Narrow', Arial, sans-serif;
  letter-spacing: -0.3px;
  font-weight: 600;
}

.gallery-menu ul li:hover a {
  color: #888684;
  transition: 0.5s;
}

/* menu button start  */
.gallery-button1 button {
  position: relative;
  overflow: hidden;
  outline: none;
  cursor: pointer;
  border: none;
  padding: 0;
  font-family: 'Arial Narrow', Arial, sans-serif;
  border-radius: 8px;
  letter-spacing: -0.4px;
}

.gallery-button1 .default-btn,
.gallery-button1 .hover-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  text-transform: uppercase;
  transition: all 0.3s ease;
  font-size: 17px;
  padding: 11px 25px 9px;
  background-color: #383632;
  font-family: 'Arial Narrow', Arial, sans-serif;
  border-radius: 50px;
  letter-spacing: -0.4px;
}

.gallery-button1 .hover-btn {
  position: absolute;
  inset: 0;
  transform: translateY(100%);
  font-family: 'Arial Narrow', Arial, sans-serif;
}

.gallery-button1 .default-btn span {
  color: #fff;
}

.gallery-button1 button:hover .default-btn {
  transform: translateY(-100%);
}

.gallery-button1 button:hover .hover-btn {
  transform: translateY(0);
  background-color: #383632;
  color: #ffffff;
  border-radius: 50px;
  font-family: 'Arial Narrow', Arial, sans-serif;
  letter-spacing: -0.4px;
}

.gallery-button1 .hover-btn {
  padding: 17px 28px 14px;
  font-family: 'Arial Narrow', Arial, sans-serif;
  letter-spacing: -0.4px;
}

.gallery-banner-text {
  padding: 80px 0 110px 0;
}

.gallery-banner-text h1 {
  font-family: 'Arial Narrow', Arial, sans-serif;
  font-size: 80px;
  color: #383632;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: -5px;
  /* font-size: 5rem; */
  margin-bottom: 0;
}

.gallery-banner-text h6 {
  font-size: 15px;
  font-family: var(--sansandschi);
  color: #d51f0f;
  text-transform: uppercase;
  font-weight: 600;
}

/* menu header end  */
/* gallery-navbar-start   */
.gallery-navbar {
  padding: 0 0 80px 0;
}

.nav-nav-tabs-gallery button {
  padding: 0 30px;
  color: #8d8987;
  font-size: 19px;
  font-family: var(--sansandschi);
  font-weight: 400;
  margin-bottom: 40px;
}

.nav-nav-tabs-gallery button:hover {
  color: #383632;
}

.image-container {
  position: relative;
  width: 365px;
  margin: 15px;
  display: inline-block;
  border-radius: 5px;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  display: block;
  border-radius: 5px;
  transition: filter 0.3s ease, transform 0.3s ease;
}

.image-container::after {
  content: '🖤';
  /* FontAwesome search icon */
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  color: rgb(0, 0, 0);
  font-size: 23px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  opacity: 1;
  background-color: rgb(255, 255, 255);
  padding: 8px;
  border-radius: 50%;
  transition: transform 0.4s ease, opacity 0.4s ease;
  z-index: 1;
}

.image-container:hover::after {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

.image-container:hover img {
  filter: brightness(40%);
  transform: scale(1.1);
  transition: 0.5s;
}


/* gallery-navbar-end  */